body{background-color:#ffffff; 
margin: 0px; 
padding: 0px; 
width: 100%; 
height: 100%;
}
.main-class{
color: #000000; 
font:25px Arial;
}
.header{
text-align: center; 
margin: 0px; 
padding-top: 10px; 
padding-right: 0px; 
padding-left: 0px; 
background-color:#000000;
}
#mainmenu {
position: relative;
overflow:hidden;
height:40px;
}
#mainmenu ul {
list-style:none;
margin:0;
padding:0;
position: relative;
left:50%;
float:left;
font:20px Arial, Helvetica, sans-serif;
height:40px
}
#mainmenu ul li {
position:relative;
left:-50%;
float:left;
margin:0 10px;
height:40px
}
#mainmenu ul li a {
color: #fff;
display:block;
text-decoration:none;
padding:0 15px;
line-height: 40px;
border: 1px solid black;
}
#mainmenu ul li a:hover {
text-decoration: none; color: #fff; background-color: #ed1b24; border: 1px solid black;
}
.content{
width: 1000px; 
margin: auto;
}
.content h1 {
text-align: center; 
font-size: 1.3em;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
font-weight: bold; 
}
.content p {
margin:12px; 
padding:5px; 
font:14px Arial, Helvetica, sans-serif; 
text-indent: 20px;
}
.footer{
position: static; /* Фиксированное положение */
left: 0; bottom: 0; /* Левый нижний угол */
padding: 5px; /* Поля вокруг текста */
background: #000; /* Цвет фона */
color: #fff; /* Цвет текста */
width: 100%; /* Ширина слоя */
height: 80px;
font:13px Arial, Helvetica, sans-serif; 
}
.footer-menu{
width: 1000px; 
margin: auto;
}
#text-equals{
display: block; 
float: left; 
text-indent: 5px; 
color: #fff;
text-decoration:none;
}
#img-equals{
display: block;
float: left;
}
td {font: 20px Arial, Helvetica, sans-serif;}
h2 {color: #FF4500; text-align: center;}
table {margin-left: 30px;}