body{
background-color:#ffffff; 
margin: 0px; 
padding: 0px; 
width: 100%; 
height: 100%;
}
.main-class{
color: #000000; 
font:25px Arial;
}
.header{
text-align: center; 
margin: 0px; 
padding-top: 10px; 
padding-right: 0px; 
padding-left: 0px; 
background-color:#000000;
}
#mainmenu {
position: relative;
overflow:hidden;
height:40px;
}
#mainmenu ul {
list-style:none;
margin:0;
padding:0;
position: relative;
left:50%;
float:left;
font:20px Arial, Helvetica, sans-serif;
height:40px
}
#mainmenu ul li {
position:relative;
left:-50%;
float:left;
margin:0 10px;
height:40px
}
#mainmenu ul li a {
color: #fff;
display:block;
text-decoration:none;
padding:0 15px;
line-height: 40px;
border: 1px solid black;
}
#mainmenu ul li a:hover {
text-decoration: none; color: #fff; background-color: #ed1b24; border: 1px solid black;
}
.content{
width: 1000px; 
margin: auto;
}
.content h1 {
text-align: center; 
font-size: 1.3em;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
font-weight: bold; 
}
.content p {
margin:12px; 
padding:5px; 
font:14px Arial, Helvetica, sans-serif; 
text-indent: 20px;
}
.footer{
position: static; /* Фиксированное положение */
left: 0; bottom: 0; /* Левый нижний угол */
padding: 5px; /* Поля вокруг текста */
background: #000; /* Цвет фона */
color: #fff; /* Цвет текста */
width: 100%; /* Ширина слоя */
height: 90px;
font:13px Arial, Helvetica, sans-serif; 
}
.footer-menu{
width: 1000px; 
margin: auto;
}
#text-equals{
display: block; 
float: left; 
text-indent: 5px; 
color: #fff;
text-decoration:none;
}
#img-equals{
display: block;
float: left;
}
.Sostav{
background-color:#DCDCDC;
}
.Sostav-content{
width: 1000px; 
margin: auto;
}
.Sostav-content td {font: 20px Arial, Helvetica, sans-serif;}
.Sostav-content table {margin-left: 30px;}
#img-center {text-align: center;}
h2 {
color: #FF4500; 
text-align: center; 
padding: 20px 0px; 
margin: 0px 0px;
}
h4 {
display: block;
-webkit-margin-before: 0.7em;
-webkit-margin-after: 0.2em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
figure {
display: block;
-webkit-margin-before: 20px;
-webkit-margin-after: 0px;
-webkit-margin-start: 40px;
-webkit-margin-end: 40px;
padding-bottom: 20px;
}
.concerts {

}
.concerts-content {
width: 1000px; 
margin: auto;
}
.contert_a {
color: #fff;
display:block;
text-decoration:none;
margin: auto;
}
.concert_table {
color: #000;
border-style: solid;
border-width: 3px;
border-color: #ababab;
background-color: #cccccc;
margin: 0px;

}
.concert_table td {
font: 20px Arial;
padding: 0px 5px;
}
textarea {
resize: none;
outline: none;
-moz-appearance: none;
border: 1px solid #999;
overflow: auto;
}
.date_beaty {
text-align: center;
background-color: #ffe1c3;
text-shadow: #000 1px 1px 1px;
}
.date_beaty p {
color: #00BFFF;
font-weight: bold;
display: block;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
text-shadow: #A9A9A9 1px 1px 3px, 
			 #000 1px 1px 1px;
}
#day_bold{font: 25px;}
#td-padding{padding-left: 0px;}
#td-padding2{padding-right: 0px;}
.price_beaty{
text-align: center;
background-color: #ffe1c3;
text-shadow: #000 1px 1px 1px;
padding: 5px 0px;
}
.buy_ticket {
text-align: center;
background-color: #4ee03b;
text-shadow: #000 1px 1px 1px;
padding: 4px 8px;
border-style: solid;
border-width: 1px;
border-color: #129c00;
border-radius: 8px 8px 8px 8px;
}
.gallery{background-color: #DCDCDC;}
.gallery-content{
width: 1000px; 
margin: auto;
}
.gallery-p {
color: #fff;
text-shadow: #000 1px 1px 1px;
background-color: #FF4500;
margin: 0px 0px;
padding: 2px 8px;
padding-right: 20px;
width: -webkit-max-content;
font: 20px serif;
text-align: left;
font-style: italic;
font-weight: 500;
border-radius: 0px 25px 0px 0px;
}
.gallery-table {
background-color: #DCDCDC;
width: 1000px;
margin-top: 1px;
margin-bottom: 7px;
}
.gallery-table td, th {
background-color: #fff;
margin: 5px;
width: auto;
text-align: center;
}
.all-photo {
width: 100px;
height: 100px;
}